# ------------------------------ Project  Author ------------------------------
PROJECT_CONTACT_NAME = Fahd Hakem
PROJECT_CONTACT_URL=www.linkedin.com/in/fahd-hakem
PROJECT_CONTACT_EMAIL=fhakem75@gmail.com
# ------------------------------ Project Details ------------------------------
PROJECT_NAME="Skygate Task"
PROJECT_DESCRIPTION=""
API_PREFIX="/api"
PORT=3030
authorUrl=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
MAIN_URL='http://localhost:${PORT}'
SANDBOX_URL=
PRODUCTION_URL='http://127.0.0.1:3030'
FRONTEND_URL=http://localhost:3000
# ------------------------------  DB Secrets  ------------------------------
DATABASE_URL="mysql://root:@127.0.0.1:3306/task"
COOKIE_SECRET='awk3m890rdefjc89xzxe3'
# ------------------------------   Auth Config   ------------------------------
ACCESS_TOKEN_SECRET=AccessAccess@123*
ACCESS_TOKEN_EXPIRE_TIME=300000  # 5 minutes

REFRESH_TOKEN_SECRET=*123AccessAccess@123*Refresh
REFRESH_TOKEN_EXPIRE_TIME=31536000000 # 1 year

RESET_PASSWORD_TOKEN_SECRET=lklkdshjdhssdsds
FORGET_PASSWORD_TOKEN_EXPIRE_TIME=300000

VERIFY_TOKEN_SECRET=asdfawefcwewedsx
VERIFY_TOKEN_EXPIRE_TIME=900000

ACCESS_TOKEN_COOKIE_KEY='AccessToken'
VERIFY_TOKEN_COOKIE_KEY='VerifyToken'
RESET_PASSWORD_TOKEN_COOKIE_KEY='ResetPasswordToken'
# ------------------------------
INTERCEPTOR_KEY="test"
MULTI_SESSION=1
OTP_INVALIDATE_TIME=240000
HASH_SALT=13
OTP_IGNORE_TIME=120000
PERMISSION_METADATA_KEY=permissions
ROLE_METADATA_KEY=role
USER_TYPE_METADATA_KEY=user-type
LOG_REQUESTS=true
LOG_LEVEL=debug
LOG_DIR=logs
LOG_SILENT=false
# ------------------------------    DEV Config   ------------------------------
DEFAULT_OTP=1234
Default_OTP=1234
UPLOADS_PATH='./uploads'
TEMP_FILE_KEY='temp-file'
# ------------------------------ Pagination Config ------------------------------
MAX_PAGE_LIMIT=40
# ------------------------------    Mail Config   ------------------------------
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
SENDER_EMAIL=
# -----------------------------  Translation  -----------------------------
FALLBACK_LANGUAGE=en
#------------------------------ ADMIN ---------------------------------
PASSWORD=Default@123
EMAIL=admin@admin.com
#------------------------------ Rate Limit ---------------------------------
WINDOW_SECONDS=60   ## 1 min
MAX_REQUESTS=50
BLOCK_DURATION_SECONDS=3600  ## 1 hour
#------------------------------ Firebase ---------------------------------
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
# ------------------------------ AWS S3 ------------------------------
AWS_MEDIA=false
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=

OPENSEARCH_URL=http://localhost:9200
